.display-flex { display: inline-flex;}
.center { text-align: center;}
.ml-10 { margin-left: 10px;}
.icon-style { 
    margin-left: 10px;
    cursor: pointer;
}
.mat-sort-header-content {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 13px !important;
}