
table {width: 100%;}
table th { background: #205793 ; color: #FFF; font-size: 14px;}

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
    width: 250px;
  }
  