
    <div class="card">
        <div class="card-body">
          <button class="btn btn-primary mb-5" [routerLink]="['/userListReport/countOfExchangeCards']">Back to Exchange Cards</button>

            <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="mb-3">  
                      <div>                       
                        <table mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="CardImages">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Card Image </th>
                              <td mat-cell *matCellDef="let element">
                                  <div class="card-image">
                                    <img [src]="element.CardImages">
                                  </div>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="Status">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                              <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="fill" class="status-dropdown" >
                                  <mat-select [(value)]="element.Active" (selectionChange)="onChange($event.value,element)">
                                      <mat-option [value]="option.Active" *ngFor="let option of status">{{ option.Label }}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                            </ng-container>                           
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getDetails(row)"></tr>    
                              <tr class="mat-row" *matNoDataRow>
                                  <td class="mat-cell" colspan="2">No data matching the filter</td>
                                </tr>
                            </table>  
                      </div>
                        <!-- <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]"
                            showFirstLastButtons 
                            aria-label="Select page of periodic elements">
                        </mat-paginator> -->
                  </div>
                </div>
            </div>
        </div>
    </div>
  